@import "variables";
@import "./bootstrap/variables";
@import "functions";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

@mixin xs {
  @include media-breakpoint-up('xs', $grid-breakpoints) {
    @content;
  }
}

@mixin xs-only {
  @include media-breakpoint-only('xs', $grid-breakpoints) {
    @content;
  }
}

@mixin xs-max {
  @include media-breakpoint-down('xs', $grid-breakpoints) {
    @content;
  }
}

@mixin sm {
  @include media-breakpoint-up('sm', $grid-breakpoints) {
    @content;
  }
}

@mixin sm-only {
  @include media-breakpoint-only('sm', $grid-breakpoints) {
    @content;
  }
}

@mixin sm-max {
  @include media-breakpoint-down('sm', $grid-breakpoints) {
    @content;
  }
}

@mixin md {
  @include media-breakpoint-up('md', $grid-breakpoints) {
    @content;
  }
}

@mixin md-only {
  @include media-breakpoint-only('md', $grid-breakpoints) {
    @content;
  }
}

@mixin md-max {
  @include media-breakpoint-down('md', $grid-breakpoints) {
    @content;
  }
}

@mixin lg {
  @include media-breakpoint-up('lg', $grid-breakpoints) {
    @content;
  }
}

@mixin lg-only {
  @include media-breakpoint-only('lg', $grid-breakpoints) {
    @content;
  }
}

@mixin lg-max {
  @include media-breakpoint-down('lg', $grid-breakpoints) {
    @content;
  }
}

@mixin xl {
  @include media-breakpoint-up('xl', $grid-breakpoints) {
    @content;
  }
}

@mixin xl-only {
  @debug $grid-breakpoints;
  @include media-breakpoint-only('xl', $grid-breakpoints) {
    @content;
  }
}

@mixin xl-max {
  @include media-breakpoint-down('xl', $grid-breakpoints) {
    @content;
  }
}

@mixin xxl {
  @include media-breakpoint-up('xxl', $grid-breakpoints) {
    @content;
  }
}

@mixin defineSpacings( $prefix, $base: $base ) {
  @each $s in $spacings {
    .pt#{if($prefix, '-' + $prefix, null)}-#{nth($s, 1)} {
      padding-top: getSize(nth($s, 2), 'rem', $base);
    }

    .pb#{if($prefix, '-' + $prefix, null)}-#{nth($s, 1)} {
      padding-bottom: getSize(nth($s, 2), 'rem', $base);
    }

    .pl#{if($prefix, '-' + $prefix, null)}-#{nth($s, 1)} {
      padding-left: getSize(nth($s, 2), 'rem', $base);
    }

    .pr#{if($prefix, '-' + $prefix, null)}-#{nth($s, 1)} {
      padding-right: getSize(nth($s, 2), 'rem', $base);
    }

    .mt#{if($prefix, '-' + $prefix, null)}-#{nth($s, 1)} {
      margin-top: getSize(nth($s, 2), 'rem', $base);
    }

    .mt-minus#{if($prefix, '-' + $prefix, null)}-#{nth($s, 1)} {
      margin-top: getSize(nth($s, 2) * -1, 'rem', $base);
    }

    .mb#{if($prefix, '-' + $prefix, null)}-#{nth($s, 1)} {
      margin-bottom: getSize(nth($s, 2), 'rem', $base);
    }

    .mr#{if($prefix, '-' + $prefix, null)}-#{nth($s, 1)} {
      margin-right: getSize(nth($s, 2), 'rem', $base);
    }
  }
}
